/* Ajout d'une nouvelle police dans le css */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

/* Fin de l'ajout d'une nouvelle police dans le css */

a {
  text-decoration: none;
}
  
li {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Début navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  z-index: 1000;
  padding: 20px;
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.419);
  backdrop-filter: blur(8px);
}

.navbar a {
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
}

.nav-links a {
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
}

/* LOGO */
.logo {
  font-size: 2em;
}

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu a, footer li a  {
  position: relative;
  text-decoration: none;
}


.menu a::before, footer li a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.menu a:hover::before, footer a:hover::before {
  transform: scaleX(1);
}

.menu div {
  padding: 10px 14px;
}
/* ANIMATION FLECHE SOUS MENU */

.blog a img {
  transition: transform .3s ease-in-out;
}

.blog a:hover img{
  transform: rotate(180deg);
}
/* SOUS MENU */

.sousmenu {
  padding: 1em 0;
  position: absolute;
  display: none;
  border-radius: 8px;
  top: 3em;
  background-color: rgba(0, 0, 0, 0.419);
  
}

.sousmenu li + li {
  margin-top: 10px;
}

.sousmenu li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
}

.blog:hover .sousmenu {
  display: block;
}

nav img {
  margin-left: 5px;
}

/* menu burger */

nav input[type=checkbox] {
  display: none;
} 

/* HAMBURGER MENU */
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

/* MEDIA POUR MENU BURGER PETIT ECRAN OU SMARTPHONE */
@media screen and (max-width: 768px) {
 .menu {
    display:none;
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    padding: 10px 0 10px 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.419);
  }

  .sousmenu li + li {
    margin-top: 0;
  }

  .sousmenu li {
    padding: 0.2em 0.2em;
    font-size: 15px;
  }

  .blog .sousmenu {
    display:flex;
    flex-wrap: wrap;
  }

  .blog:hover .sousmenu {
    display: flex;
    flex-wrap: wrap;
  }

  .blog .sousmenu {
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0;
    padding: 0px;
    top: 0em;
  }

  .sousmenu {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav input[type=checkbox]:checked ~ .menu {
    display: block;
    margin-top: 26px;
  }

  .hamburger {
    display: block;
  }
}
/* fin menu burger */
/* Fin navbar */
  
body {
  height: 100%;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  font-family : Poppins;
  color : rgb(0, 0, 0);
}

main {
  margin-top: 100px;
}

/* DEBUT AFFICHAGE ARTICLE */   
.article_left h1, .article_right h1 {
  text-align: center;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  margin-bottom: 3%;
}

.article_left img {
  width: 50%;
  float: left;
  margin-right: 1%;
  border-radius: 0.3em;
}

.article_right img {
  width: 50%;
  float: right;
  margin-left: 1%;
  border-radius: 0.3em;
}

.article_left, .article_right {
  text-align: justify;
  padding: 2em;
  border-radius: 10px;
  background-color: #00000022;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
   rgba(0, 0, 0, 0.12) 0px -12px 30px, 
   rgba(0, 0, 0, 0.12) 0px 4px 6px, 
   rgba(0, 0, 0, 0.17) 0px 12px 13px, 
   rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.aside_zoom {
  transition: transform .3s;
  position: relative;
  
}

.aside_zoom:hover {
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transform: scale(1.05);
}

.aside_zoom a p {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}

@media screen and (max-width: 768px) {
  .article_left img, .article_right img{
    width: 100%;
    float: none;
    margin-bottom: 1em;
    border-radius: 0.3em;
  }
}
/* FIN AFFICHAGE ARTICLE */

/* DEBUT ARTICLE BLOG */
.article_blog img {
  width: 100%;
  margin-bottom: 1em;
  border-radius: 0.3em;
}

.article_blog {
  max-width: 400px;
  text-align: justify;
  padding: 2em;
  border-radius: 10px;
  background-color: #00000022;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 2em;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.article_blog h1 {
  text-align: center;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  margin-bottom: 3%;
}

.article_style {
  margin: 5%;
}
.article {
  background-color: #00000022;
  padding: 2em;
  border-radius: 10px;
  text-align: justify;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-bottom: 10%;
  align-items: center;
}


.article img {
  width: 60%;
  float: left;
  margin-bottom: 0.7em;
  border-radius: 0.5em;
  margin-right: 1%;
}

.article h1 {
  text-align: center;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  margin-bottom: 3%;
}

.btn {
  text-decoration: initial;
  padding: 1em;
  margin: auto;
  color: white;
  border-radius: 2em;
  margin-top: 2%;
  background-color: rgba(0, 0, 0, 0.419);
  transition: transform .1s;
}

.btn:hover{
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
  }

@media screen and (max-width: 768px) {
  .article img {
    width: 100%;
    margin-bottom: 1em;
    border-radius: 0em;
    margin-right: 0em;
    margin-bottom: 0.7em;
    border-radius: 0.5em;
  }

  p {
    text-align: justify;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 3%;
  }
}

.img_conc, p {
  text-align: justify;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  margin-bottom: 3%;
}

/* FIN ARTICLE BLOG */

/* ASIDE ARTICLE */
.article_style {
  display: flex;
}

.article_aside {
  margin-top: 5%;
  margin-bottom: 10%;
  margin-left: 2em;

  text-align: center;
  background-color: #00000022;
  border-radius: 10px;
}

.article_style aside a {
  color: white;
}

.article_aside img {
  width: 20em;
  border-radius: 0.5em;
  margin: 1em 2em 1em 2em;
}

/* METTRE LE MENU ASIDE BAR SUR FORMAT PETIT ECRAN */
@media screen and (max-width: 768px) {
  .article_style {
    display: flex;
    flex-direction: column;
  }

  .article_aside {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .article_aside a {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .article p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
 }
/* FIN MENU ASIDE PETIT ECRAN */

/* DEBUT FORMULAIRE*/
.affichage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 3%;
}

fieldset {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

label {
  color: white;
  font-family: 'Roboto Condensed';
}

.contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 2%;
}

textarea {
  resize: none;
}

.img_contact {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 2%;
}

fieldset {
  border-radius: 10px;
  border-style: none;
  background-color: #00000022;
  padding: 20px;
  margin: 2em;
}

input[type=text], textarea, input[type=password], input[type=date] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  opacity: 0.9;
}

input[type=text]:focus {
  border: 3px solid #555;
}

input[type=label] {
  display: none;
}

.p_loisir {
  color: white;
  font-family: 'Roboto Condensed';
  margin-bottom: 0.1em;
  font-size: 16px;
}


/* DEBUT FORMULAIRE MOBILE */
@media screen and (max-width: 768px) { 
  .contact {
    margin: 10%;
    width: auto;
  }

  .affichage {
    display: flex;
    flex-direction: column;
  }

  .img_contact {
    align-items: center;
    padding-left: auto;
    padding-right: auto;
    margin-bottom: 5%;
  }
}
/* FIN FORMULAIRE MOBILE */
/* FIN FORMULAIRE*/

/* BOUTTON FORM */
.button {
  float: right;
  margin-left: .75rem;
  margin-top: 1rem;
  background-color: #FFFFFF;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family:"Segoe UI";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  opacity: 0.8;
}

.button:hover {
  background-color: rgb(249,250,251);
}

.button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button:focus-visible {
  box-shadow: none;
}

.buttonNone {
  float: right;
  margin-left: .75rem;
  margin-top: 1rem;
  background-color: #8d8d8d;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family:"Segoe UI";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  opacity: 0.8;
}

/* FIN BOUTTON FORM */
/* DEBUT RADIO BUTTON */

/* FIN RADIO BUTTON */
/* DEBUT COLOR BUTTON */
input[type='color'] {
  padding: 0;
  width: 150%;
  height: 150%;
  margin: -25%;
}

.cp_wrapper {
  overflow: hidden;
  width: 2em;
  height: 2em;
  border-radius: 30%;
  margin: 1em;
}
/* FIN COLOR BUTTON */

/* DEBUT CHECKBOX BUTTON */
@keyframes pop {
  0% { opacity:0; }
  75% {opacity:1; }
  100% { transform: scale(1.2); }
}

.box_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.checkbox {
  margin: 15px;
}

.checkbox_pop, .radio_pop {
  display: none;
}

/* checkboxes */
.checkbox_pop + label span {
  display:inline-block;
  width:25px;
  height:19px;
  margin: 0 5px -4px 0;
  &:before,
    &:after {
      content: "";
      position: absolute;
      z-index: 1;
      width: 1rem;
      height: 1rem;
      background: transparent;
      border: 2px solid #ffffff; 
    }
     &:after {
      z-index: 0;
      border: none;
    }
}

/* radio box */
.radio_pop + label span {
  display:inline-block;
  width:25px;
  height:19px;
  margin: 0 5px -4px 0;
  &:before,
    &:after {
      content: "";
      position: absolute;
      z-index: 1;
      width: 1rem;
      height: 1rem;
      border-radius: 10px;
      background: transparent;
      border: 2px solid #ffffff; 
    }
     &:after {
      z-index: 0;
      border: none;
    }
}

.checkbox_pop:checked + label span, .radio_pop:checked + label span {
  &:before {
      animation: pop .3s ease;
      z-index: 30;
      background: #ffffff;
     } 
}
/* FIN CHECKBOX BUTTON */

/* DEBUT UPLOAD FILE BUTTON */
input[type="file"]::file-selector-button {
  border-radius: 4px;
  padding: 0 16px;
  height: 40px;
  margin: 1em;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
  opacity: 0.9;
}

input[type="file"]::file-selector-button:hover {
  background-color: #f3f4f6;
}

input[type="file"]::file-selector-button:active {
  background-color: #e5e7eb;
}

input[type="file"] {
  color: #FFFFFF;
  font-family: 'Roboto Condensed';
}
/*FIN UPLOAD FILE BUTTON */

.contact_p p {
  text-align: center;
}

/* DEBUT FOOTER */
footer {
  background-color: rgba(6, 6, 6, 0.156);
}

footer p {
  padding-top: 2em;
  text-align: center;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
}

footer li {
  padding: 0 2em 0 2em;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  
}

footer a {
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
}

footer ul  {
  display: flex;
  padding-top: 2em;
  justify-content: space-evenly;
  padding-bottom: 2em;
}

footer hr {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}


.backToTop {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 70;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.backToTopHidden {
  display: none;
}

.img_top {
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.071);
  backdrop-filter: blur(5px);
  border-radius: 50%;
}

.img_top {
  animation: mover 1s infinite  alternate;
}

.img_top:hover {
  animation: rotate 0.5s;
}

@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-4px); }
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes half_rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(180deg); }
}